services:
  runner-ubuntu-22.04-1:
    build:
      context: .
      dockerfile: Dockerfile.yocto-runner-ubuntu-22.04
    image: 172.31.34.190:5000/yocto-runner-ubuntu-22.04:latest
    container_name: forgejo-runner-ubuntu-22.04-1
    restart: always
    user: "0:0"
    environment:
      - FORGEJO_URL=http://forgejo:3000
      - FORGEJO_ADMIN_USER=${FORGEJO_ADMIN_USER}
      - FORGEJO_ADMIN_PASSWORD=${FORGEJO_ADMIN_PASSWORD}
      - FORGEJO_RUNNER_TOKEN=${FORGEJO_RUNNER_TOKEN}
      - RUNNER_NAME=runner-ubuntu-22.04-1
      - RUNNER_LABELS=ubuntu-22.04:host
      - USER_ID=1000
      - GROUP_ID=1000
    volumes:
      - ./runner-data/ubuntu-22.04-1:/data
      - ./yocto-cache/sstate-cache:/nfs/sstate-cache
      - ./yocto-cache/downloads:/nfs/downloads
      - ./yocto-cache/tmp:/nfs/tmp
      - ./yocto-builds/ubuntu-22.04-1:/home/yoctouser/.cache/act
      - /var/run/docker.sock:/var/run/docker.sock
      - ./runner-entrypoint.sh:/entrypoint.sh:ro
    entrypoint: ["/entrypoint.sh"]
    depends_on:
      - forgejo
    networks:
      - forgejo-net

